th {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}


.row {
  margin: 0px;
}

table {
  font-size: normal;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: -0.0rem;
  text-align: center;
  border-bottom: solid black 1px;
}

h3 {
  text-align: center;

}

.from-label,
.to-label {
  color: white;
  text-align: center;
  font-weight: bold;
}



.switch-icon {
  border-radius: 3em;
  float: left;
  width: 2em; 
  height: 2em;
  margin: 0.2em;
  margin-right: 0.4em;
}

.match-status {
  font-weight: bold;
  font-size: 1.3rem;
  width: 24rem;
  margin-left: 1rem;
  min-height: 3rem;
  border: solid black 1px;
  text-align: center;
  color: #aaaaaa;
  text-align: center;
}

.choices-table {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 80vh;
  text-align: center;
  vertical-align: top;

}

.main-table {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 80vh;
  text-align: center;
  vertical-align: top;  
}

.main-table th {
  border: solid black 1px;
  background-color: #f8f8f8;
}

.main-table td {
  text-align: center;
  vertical-align: top;
  width: 50%;
}

.main-table div {
  /* border: solid black 1px;
  background-color: red; */
  border-radius: 1rem;
  height: 95%;
}


.EraIcon {
  width: 6em;
  right: 3rem;
  top: 4em;
  position: absolute;
  border-radius: 3em;
}


.current {
  float: left;
}

.unused {
  font-size: 0.5rem;
  border: solid green 3px;
  background-color: #c9c9c9;
  text-decoration: line-through;
}

.in-sync {
  border: solid green 2px;
  height: 1rem;
  margin: 10px;
  font-weight: normal;
  text-align: center;
  background-color: #eef8ee;
}

.out-of-sync {
  border: solid red 1px;
  background-color: #f8e9e9;
}

.missing-layer {
  margin: 2rem;
  padding: 5%;
  background-color: #eeee00;
  border-radius: 3rem;
}

.stale {
  cursor: pointer;
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
  width: 90%;
  text-align: center;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto
}

.platform-image {
  margin: 0.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
  width: 7rem;
}

.from-node-image {
  padding: 0rem;
  border-right: dashed black 3px;
  height: 22rem;
  width: 12rem;
  padding-top: 0;
}

.transpiler-attachments {
  margin: 0.5rem;
  width: 5rem;
  float: left;
}

.from-node-attachment {
  width: 8rem;
  margin-left: 1rem;
  margin-right: auto;
}

.transpiler-node {
  padding-top: 2rem;
  height: 23rem;
  min-height: 23rem;
  margin: 1rem;
  padding: 1rem
}