.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outputLabel {
  font-weight: bold;

}

.toolName {
  font-size: 1.2em;
  font-weight: bold;
}

/* Centering and styling the output bar in YCombiner */
.outputSpout {
  width: 1em;
  height: 5em;
  margin: auto; /* Center horizontally */
  background-color: inherit; /* Use the background color set by inline style */
}

.transpilerLabel {
  background-color: white;
  color: black;
  width: 20em;
  font-size: 1em;
  font-family: monospace;
  margin: auto;
  border: solid 1px black;
}



.pickerLabel {
  background-color: white;
  color: black;
  width: 10em;
  font-size: 1em;
  margin: auto;
  border: solid 1px black;
}

.fixedColor {
  width: 10em; 
  height: 10em;
}

.baseColorPicker {
  min-width: 2em;
  height: 1.5em;
  margin: 0.25em;
  padding: 0.1em;
  cursor: pointer;
  color: white;
  border-radius: 0.5em;
}

.CharlieCounterBlock {
  position: relative;
  white-space: nowrap;
  opacity: 1;
  font-size: 1.5em;
  min-height: 2.25em;
  font-size: 2em;
}

.EraIcon {
  width: 6em;
  right: 0;
   top: 0;
    position: absolute;
    border-radius: 3em;
}

.Paper {  
  background-color: #b88f58;
  color: white;
}


.EEverything {
  background-color: #3da7d6;
  color: white;
}
/* App.css */

.SplitScreen {
  display: flex;
  max-height: 90vh;
  justify-content: space-between;
}

.LeftPane, .RightPane {
  flex: 1;
  border-right: solid 1px lightskyblue;
  z-index: 3
}

.WhiteHeader {
  padding: 0.5em;
  position: relative;
  background-color: white;
  z-index: 999;
  opacity: 1;
  border-top: solid 1px lightskyblue;
  border-bottom: solid 1px lightskyblue;
  min-height: 3em; 
  max-height: 4em;
  font-size: 1.5em;
}

.WhiteHeader H3 {
  font-size: 1.4em;
}


.WhiteHeader H3, .WhiteHeader H4 {
  margin: 0;
}

.WhiteHeader H3 span {
  font-style: italic;
  font-weight: normal;
}


.FullHeightContainer {
  position: relative;
  height: 60%;
  /* background-color: lightblue; */
  overflow: hidden; 
}

button {
  border-radius: 0.25em;
  margin: 0.25em;
}

.btn-story {
  padding: 0.15em;
  font-size: 1em;
  background-color: #25aa89; /* Brighter Sky Blue */
  color: white;
  font-weight: bold;
}

.btn-story:hover {
  color: rgb(216, 212, 212) !important;
}

.btn-back-story {
  padding: 0.15em;
  font-size: 1em;
  background-color: #c7d0d8; /* Brighter Sky Blue */
  color: rgb(109, 107, 107);
}

.btn-english {
  background-color: #E67373; /* Stronger Coral */
  color: white;
}

.btn-code {
  background-color: #1A9988; /* Deeper Sea Green */
  color: white;
}

.btn-chinese {
  background-color: #FFD700; /* Rich Goldenrod */
  color: black;
}

.btn-chinese:hover {
  color: darkgray;
}

.btn-spanish {
  background-color: #4FC3F7; /* Brighter Sky Blue */
  color: white;
}

.btn-greek {
  background-color: #C29BD4; /* Vivid Thistle */
  color: white;
}

.btn-english:disabled,
.btn-code:disabled,
.btn-chinese:disabled,
.btn-spanish:disabled,
.btn-greek:disabled {
  background-color: #E8E8E8; /* Light Gray for disabled */
  color: #1A9988; /* Darker Gray for text */
  font-weight: bold;
  border: solid 1px #1A9988; /* Darker Gray for border */
}


.keywordStyle {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.25em;
}

.lockedKeyword {
  padding: 0.25em;
  font-size: 0.8em;
}

.staleKeyword {
  padding: 0.25em;
  font-size: 0.8em;
  text-decoration: line-through;
}


.highlightedKeyword {
  margin: 0.25em;
  font-weight: bold;
  background-color: #b88f58;
  text-decoration: none;
  color: white;
  padding: 0.25em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.staleKeyword {
  margin: 0.25em;
  font-weight: bold;
  background-color: red;
  text-decoration: line-through #222222 solid 4px;
  color: white;
}

.languageTag {
  float: right;
  background-color: lightblue;
  color: darkblue;
  font-weight: bold;
  border: light-blue solid 1px;
  border-radius: 5px;
  padding: 2px;
}