/* Additional styles */
@keyframes scrollUp {
    0% {
      transform: translateY(50%) scale(1); /* Start just below the container */
      opacity: 1;
    }
    90% {
      transform: translateY(-40vh) scale(0.1); /* Scroll well above the top */
      opacity: 1;
    }
    100% {
      transform: translateY(-50vh) scale(0.1); /* Finish above the container */
      opacity: 1;
    }
  }

.TextScroller2Container {
    position: relative;
    min-height: 50vh;
    max-height: 50vh;
    overflow: hidden;
    border-top: 1px solid black;
    width: 100%;
  }
  
  .TextScroller2Item {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: scrollUp linear forwards;
    white-space: pre-wrap;
  }
  
  
  