.CharlieCounter {  
  position: relative;
  background-color: yellow;
  padding: 0.5em;
  opacity: 1;
  font-size: 1.5em;
  z-index: 999999;
}

.CharlieCounter span {
  font-weight: bold;
}


/* Additional styles */
@keyframes scrollUp {
    0% {
      transform: translateY(50%) scale(1); /* Start just below the container */
      opacity: 1;
    }
    80% {
      transform: translateY(-50vh) scale(0.5); /* Scroll well above the top */
      opacity: 1;
    }
    90% {
      transform: translateY(-60vh) scale(0.3); /* Scroll well above the top */
      opacity: 1;
    }
    100% {
      transform: translateY(-80vh) scale(0.1); /* Finish above the container */
      opacity: 1;
    }
  }

.TextScrollerContainer {
    position: relative;
    min-height: 70vh;
    max-height: 70vh;
    overflow: hidden;
    width: 100%;
  }
  
  .TextScrollerItem {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: scrollUp linear forwards;
    white-space: pre-wrap;
    max-height: 4em;
    min-height: 4em;
    overflow: hidden;
  }
  
  
  .CardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px blue;
  }
  

  .highlightedKeyword {
    margin: 0.25em;
    font-weight: bold;
    background-color: green;
    text-decoration: none;
    color: yellow;
  }
  
  .staleKeyword {
    margin: 0.25em;
    font-weight: bold;
    background-color: red;
    text-decoration: line-through #222222 solid 4px;
    color: white;
  }

  .languageTag {
    float: right;
    background-color: lightblue;
    color: darkblue;
    font-weight: bold;
    border: light-blue solid 1px;
    border-radius: 5px;
    padding: 2px;
  }