/* Additional styles */
@keyframes scrollUp {
    0% {
      transform: translateY(50%) scale(1); /* Start just below the container */
      opacity: 1;
    }
    90% {
      transform: translateY(-40vh) scale(0.1); /* Scroll well above the top */
      opacity: 1;
    }
    100% {
      transform: translateY(-50vh) scale(0.1); /* Finish above the container */
      opacity: 1;
    }
  }

.TextScrollerContainer {
    position: relative;
    min-height: 50vh;
    max-height: 50vh;
    overflow: hidden;
    border-top: 1px solid black;
    width: 100%;
  }
  
  .TextScrollerItem {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: scrollUp linear forwards;
    white-space: pre-wrap;
    max-height: 4em;
    overflow: hidden;
  }
  
  
  .CardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px blue;
  }
  

  .highlightedKeyword {
    font-weight: bold;
    background-color: green;
    text-decoration: none;
    color: yellow;
  }
  
  .staleKeyword {
    font-weight: bold;
    background-color: red;
    text-decoration: line-through #222222 solid 4px;
    color: white;
  }